* { margin: 0 auto; }

body { background-color: #CDBEA5; height: auto; }

.main {
    width: 1200px; height: 100%;background-image: url("img/bg1.jpg"); background-repeat: repeat;
    box-shadow: 0 0 3em 3px #533207; -moz-box-shadow: 0 0 3em 3px #533207; -webkit-box-shadow: 0 0 3em 3px #533207;
}

.head {
    width: 1000px; height: 310px; display: block;
    background-image: url("img/header.png");
    background-repeat: no-repeat; z-index: 10;
    position: absolute; top: 0px;/* left: 100px*/;
    margin-left: 100px;
}

.menu {
    width: 1000px; height: 90px; top: 260px; left: 25px; position: relative; z-index: 1;
}

.menu ul { margin: 0; padding: 0; }

.menu ul li { list-style: none; display: block; float: left; overflow: hidden; position: relative; z-index: 0; }

.menu ul li:hover { top: 10px; }

.cont { width: 1000px; margin-top: 260px; }

.naz {
    background-image: url("img/bg_naz.png"); background-repeat: no-repeat; display: block;
    width: 950px; height: 47px; margin-bottom: 20px;
}

.right-block {padding: 10px 15px 0 15px; }

.right-block h1 { font: 25px Verdana, Helvetica, sans-serif; text-align: center; color: #792200; font-weight: bold; padding: 7px 0;
text-shadow: 0px 0px 5px #A2831E; color: #792200;
}

.right-block h2 { font-size: 25px; }

.right-block > .imgs { float: right; margin: 5px 5px 20px 20px;
    box-shadow: 1px 1px 1.5em 3px #533207; -moz-box-shadow: 1px 1px 1.5em 3px #533207; -webkit-box-shadow: 1px 1px 1.5em 3px #533207; }


.all_imgs { float: right; }

.imgs > div {
    border: 2px solid #533207; height: 150px; width: 150px; margin: 5px; overflow: hidden; position: relative; z-index: 1;
    border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px;
    transform:scale(1.0); -webkit-transform:scale(1.0); -moz-transform:scale(1.0); -ms-transform:scale(1.0); -o-transform:scale(1.0);
    transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -ms-transition-duration: 0.5s; -o-transition-duration: 0.5s;
}

.imgs > div:hover {
    z-index: 10;
    transform:scale(2.7); -webkit-transform:scale(2.7); -moz-transform:scale(2.7); -ms-transform:scale(2.7); -o-transform:scale(2.7);
}

.right-block p {
    font: 14px verdana, helvetica; text-align: justify; text-indent: 2em; text-align-last: end; color: #792200; padding-bottom: 7px;
}

.bottom-block {
    height: 45px; width: 100%; margin-top: 0px; background-color: #724720;  padding: 0; margin: 0; /*533207*/
}

.bottom-block p { margin: 0;
    font: 10px Verdana; text-align: center; color: #CDBEA5; padding: 30px 25px 2px 25px;
}

/*{ Табы. Начало */
.ot10 { padding: 0 15px; font: 16px Impact; color: #533207; }

.tabs p { font: 12px Arial, verdana, helvetica; text-align: justify; text-indent: 2em; text-align-last: end; color: #533207; }

.tabs { margin-top: 15px; margin-bottom: 25px; display: inline-block; }

#tab2, #tab3, #tab4 { position: relative; }

.tabs > a,
.tabs #tab2:target ~ a:nth-of-type(1),
.tabs #tab3:target ~ a:nth-of-type(1),
.tabs #tab4:target ~ a:nth-of-type(1),
.tabs > div { padding: 6px; border: 2px solid #533207; }

.tabs > a { line-height: 28px; background: #d6bf8e; text-decoration: none; }

#tab2, #tab3, #tab4, .tabs > div,
.tabs #tab2:target ~ div:nth-of-type(1),
.tabs #tab3:target ~ div:nth-of-type(1),
.tabs #tab4:target ~ div:nth-of-type(1) { display: none; }

.tabs > div:nth-of-type(1),
.tabs #tab2:target ~ div:nth-of-type(2),
.tabs #tab3:target ~ div:nth-of-type(3),
.tabs #tab4:target ~ div:nth-of-type(4) { display: block; }

.tabs > a:nth-of-type(1),
.tabs #tab2:target ~ a:nth-of-type(2),
.tabs #tab3:target ~ a:nth-of-type(3),
.tabs #tab4:target ~ a:nth-of-type(4) { border-bottom: 2px solid #f2f2f2; }
/* Табы. Окончание }*/
