* {margin: 0 auto;}

body {background-image: url("img/bg1.jpg"); background-repeat: repeat;}

.main {
    width: 1200px; position: relative; height: 600px;
}

.head {
    width: 1000px; height: 310px; display: block;
    background-image: url("img/header.png");
    background-repeat: no-repeat; z-index: 10;
    position: absolute; top: 0; left: 100px;
}

.menu {
    width: 1000px; height: 90px;
    top: 260px; left: 25px;
    position: relative; z-index: 1;
}

.menu ul {margin: 0; padding: 0;}

.menu ul li {
    list-style: none; display: block; float: left;
    overflow: hidden; position: relative;
    z-index: 0;
}

.menu ul li:hover {top: 10px;}

.cont {
    width: 1000px; margin: 10px 25px 5px 100px;
    position: relative; display: inline-block;
    top: 255px;
    /*border: solid; border-width: 1px;*/
    background-color: #f2f2f2;
}

.cont p {
    font: 16px Tahoma; text-align: justify; text-indent: 2em; text-align-last: end;
    color: #533207;
}

.cont h1, .cont h2 {
    font: bold Vendana; text-align: center; color: #482708;
}

.cont h1 {
    font-size: 30px;
    padding: 5px 25px 10px 25px;
}

.cont h2 {
    font-size: 25px;
}

.left {
    width: 276px; float: left;
    margin: 0; padding: 10px 5px 15px 19px;
}

.lf-block {
    width: 276px;
}

.lf-block-top {
    width: 276px; height: 64px;
    background-image: url("img/lb_top.png");
    background-repeat: no-repeat;
}

.lf-block-top h3 {
    font: bold Vendana; text-align: center; color: #482708;
    font-size: 20px; padding-top: 30px;
}

.lf-block-mid {
    width: 276px; min-height: 125px;
    background-image: url("img/lb_mid10.png");
    background-repeat: repeat-y;
}

.lf-block-mid p {
    font: 12px Vendana; text-align: justify; text-indent: 2em; text-align-last: end;
    color: #533207; padding: 10px 25px;
}
.lf-block-bot {
    width: 276px; height: 64px;
    background-image: url("img/lb_bot.png");
    background-repeat: no-repeat;
}

.right-block {
    min-height: 299px;
   /* margin-left: 299px;*/ padding: 10px 20px 15px 15px;
    /*background-color: #a1a1a1;*/
}

.right-block p {
    font: 16px Vendana; text-align: justify; text-indent: 2em; text-align-last: end;
    color: #533207; padding-bottom: 5px;
}

.bottom-block {
    height: 150px; width: 1000px;
    background-color: #020202;
    display: block;
}

/*{ Табы. Начало */
.menu1 {margin-top: 25px; width: 90%;}

#tab2,
#tab3 {position: relative;}

.menu1 > a,
.menu1 #tab2:target ~ a:nth-of-type(1),
.menu1 #tab3:target ~ a:nth-of-type(1),
.menu1 > div {padding: 15px; border: 1px solid #482708;}

.menu1 > a { line-height: 28px; background: #f2f2f2; text-decoration: none; }

#tab2,
#tab3,
.menu1 > div,
.menu1 #tab2:target ~ div:nth-of-type(1),
.menu1 #tab3:target ~ div:nth-of-type(1) {display: none; }

.menu1 > div:nth-of-type(1),
.menu1 #tab2:target ~ div:nth-of-type(2),
.menu1 #tab3:target ~ div:nth-of-type(3) { display: block; }

.menu1 > a:nth-of-type(1),
.menu1 #tab2:target ~ a:nth-of-type(2),
.menu1 #tab3:target ~ a:nth-of-type(3) { border-bottom: 2px solid #f2f2f2; }
/* Табы. Окончание }*/
